@font-face {
    font-display: swap;
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/CeraPro-Regular.woff2) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/CeraPro-Thin.woff2) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/CeraPro-Medium.woff2) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/CeraPro-Bold.woff2) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/CeraPro-Black.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: "Cera Pro", "Arial", sans-serif;
    background-color: #ffffff;
    color: #3D3D3D;
    font-weight: 400;
}

.wrapper {
    max-width: 1220px;
    min-width: 991px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: .3px solid rgba(70, 163, 88, 0.50);
    margin-top: 25px;
    margin-bottom: 11px;
}

.link-logo {
    display: flex
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu>li {
    position: relative;
    padding: 8px 5px 21px;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: border-bottom .3s;
}

.menu a,
.menu button {
    text-decoration: none;
    font-size: 16px;
    line-height: normal;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu>li>button {
    padding: 0;
}

.menu>li:hover {
    border-bottom: 3px solid #46A358;
}

.menu>li:hover .submenu {
    display: block;
}

.submenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
    width: 188px;
    list-style: none;
    padding-left: 0;
    background-color: #EDF6EE;
    display: none;
    z-index: 2;
    box-shadow: 0 0 3px #dbdbdb;
}

.submenu::before {
    content: '';
    width: 100%;
    height: 14px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -14px;
}

.submenu a {
    display: block;
    width: 100%;
    padding: 7px 14px 8px;
}

.submenu-btn {
    width: 100%;
    padding: 7px 17px 8px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu-btn::after {
    content: '';
    background-image: url(../img/submenu-arrow.svg);
    background-repeat: no-repeat;
    width: 7px;
    height: 10px;
    transition: transform .3s, background-image .3s;
}

.submenu>li:hover button::after {
    transform: rotate(180deg);
    background-image: url(../img/submenu-arrow-hover.svg);
}

.submenu li {
    transition: background-color .3s, color .3s;
}

.submenu li:hover {
    background-color: #1A712A;
    color: #ffffff;
}

.submenu>li:hover .sub-submenu {
    display: block;
}

.sub-submenu {
    position: absolute;
    left: 190px;
    top: 0;
    width: 170px;
    list-style: none;
    padding-left: 0;
    background-color: #EDF6EE;
    color: #3D3D3D;
    display: none;
    box-shadow: 0 0 3px #dbdbdb;
}

.sub-submenu::before {
    content: '';
    width: 100px;
    height: 100%;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 0;
    left: -100px;
}

.login-box {
    display: flex;
    align-items: center;
}

.login {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 16px 6px;
    border-radius: 6px;
    background-color: #46A358;
    border: 2px solid #46A358;
    transition: color .3s, background-color .3s;
}

.login svg {
    margin-right: 4px;
}

.login path {
    transition: stroke .3s, stroke-width .3s;
}

.login:hover {
    color: #46A358;
    background-color: #ffffff;
}

.login:hover path {
    stroke: #46A358;
    stroke-width: 1.8;
}

.login-box .btn {
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 23px;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: transform .3s;
}

.search-btn {
    justify-content: center;
}

.search-btn:hover svg {
    transform: scale(1.05);
}

.search-btn:hover path {
    fill: #46A358;
}

.shop-cart-btn {
    position: relative;
    justify-content: flex-start;
    font-family: inherit;
}

.quantity {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #46A358;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 4.5px;
    transition: background-color .3s, color .3s, border .3s;
}

.shop-cart-btn:hover .quantity {
    background-color: #ffffff;
    color: #46A358;
    border: 2px solid #46A358;
}

.main {
    margin-bottom: 105px;
}

.intro {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    margin-bottom: 43px;
}

.intro-box {
    max-width: 570px;
    padding: 68px 0px 85px 40px;
}

.intro-box p {
    padding-left: 3px;
}

.intro-greeting {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.intro-box h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.span_planet {
    color: #46A358;
    -webkit-text-stroke: 2.5px transparent;
    transition: color .3s, -webkit-text-stroke .3s;
}

.intro-description {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 42px;
}

.shop_link {
    display: inline-flex;
    padding: 9px 24px 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #46A358;
    border-radius: 6px;
    margin-left: 2px;
    border: 2px solid #46A358;
    transition: color .3s, background-color .3s;
}

.shop_link:hover {
    color: #46A358;
    background-color: #ffffff;
}

.intro-img-box {
    position: relative;
}

.big-plant {
    position: relative;
    animation-name: big-plant;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    z-index: 1;
}

.small-plant {
    position: absolute;
    bottom: 5%;
    right: 0;
    animation-name: small-plant;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: .5s;

}

@keyframes small-plant {
    0% {
        bottom: 5%;
        right: 0;
    }

    17% {
        transform: scale(0.9);
    }

    34% {
        right: 50%;
        transform: scale(1);
    }

    51% {
        transform: scale(1.1);
    }

    68% {
        right: 25%;
        transform: scale(1);
    }

    85% {
        transform: scale(0.9);
    }

    100% {
        right: 65%;
        transform: scale(1);
    }
}


@keyframes big-plant {
    0% {
        bottom: 0;
        right: 0;
    }

    17% {
        transform: scale(1.03);
    }

    34% {
        right: -15%;
        transform: scale(1);
    }

    51% {
        transform: scale(0.95);
    }

    68% {
        right: 15%;
        z-index: 0;
        transform: scale(1);
    }

    69% {
        z-index: 1;
    }

    85% {
        transform: scale(1.03);
    }

    100% {
        right: 0%;
        transform: scale(1);
    }
}

.items {
    display: flex;
    margin: 0 -10px;
    margin-bottom: 100px;
}

.left-box {
    width: 25%;
    padding: 0 10px;
}

.right-box {
    width: 75%;
    padding: 0 10px;
}

.left-box-inner {
    background-color: #FBFBFB;
    padding: 15px 19px 20px;
}

.left-box-inner h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.categories span,
.categories a {
    font-size: 15px;
    line-height: 40px;
}

.categories {
    margin-bottom: 36px;
}


.categories h3 {
    padding-bottom: 7px;
}

.categories-list {
    list-style: none;
    padding-left: 11px;
}

.categories-list li {
    display: flex;
    justify-content: space-between;
    transition: color .3s;
}

.categories-list a {
    color: #3D3D3D;
    text-decoration: none;
    transition: color .3s, text-shadow .3s;
}

.categories-list li:hover {
    color: #46A358;
    text-shadow: 0 0 .5px #46A358;
}

.categories-list li:hover a {
    color: #46A358;
}

.price-range {
    margin-bottom: 46px;

}

.price-range h3 {
    padding-bottom: 25px;
}

.slider-range-wrap {
    padding: 0 11px;
}

.ui-slider {
    width: 100%;
    height: 4px;
    background-color: #46A35833;
    border-radius: 2px;
    position: relative;

}

.ui-slider-range {
    position: relative;
    height: 4px;
    background-color: #46A358;
}

.ui-slider-handle {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #46A358;
    border: 3px solid #FBFBFB;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    outline: none;
    margin-left: -10px;
}

.slider-amount {
    border: none;
    background-color: transparent;
    color: #46A358;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 14px;
}

.slider-price {
    font-size: 15px;
    line-height: 16px;
}

.price-range button {
    display: inline-block;
    padding: 6px 21px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #46A358;
    border-radius: 6px;
    border: 2px solid #46A358;
    transition: color .3s, background-color .3s;
}

.price-range button:hover {
    color: #46A358;
    background-color: #ffffff;
}

.size-checkbox h3 {
    padding-bottom: 7px;
}

.check-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-wrap span {
    font-size: 15px;
    line-height: 40px;
}

.check-name::before {
    content: '';
    width: 22px;
    height: 22px;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    margin-right: 11px;
}

.checkbox:checked+.check-name::before {
    background: url(../img/check.svg);
}

.check-wrap span {
    transition: color .3s, text-shadow .3s;
}

.check-name {
    display: flex;
    align-items: center;
    padding-left: 11px;
}

.check-wrap:hover span {
    color: #46A358;
    text-shadow: 0 0 .5px #46A358;
}

.checkbox:checked+span {
    color: #46A358;
    text-shadow: 0 0 .5px #46A358;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 31px;
}

.sort button {
    border: none;
    background-color: transparent;
    color: #3D3D3D;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    padding: 0;
}

.sort-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.sort-list li {
    padding-right: 47px;
    display: flex;
}

.sort-list button {
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom .3s, color .3s, text-shadow .3s;
}

.sort-list button:hover {
    border-bottom: 2px solid #46A358;
    color: #46A358;
    text-shadow: 0 0 .5px #46A358;
}

.sort-by {
    display: flex;
    align-items: center;
    position: relative;
}

.sort-by div {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    padding-right: 13px;
}

.default-btn {
    display: flex;
    padding-right: 5px;
    transition: color .3s, text-shadow .3s;
}

.default-btn::after {
    content: '';
    background-image: url(../img/sort-by-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 70%;
    width: 12px;
    height: 15px;
    margin: 0 5px 0 15px;
    transition: transform .3s, background-image .3s;
}

.sort-by-list {
    list-style: none;
    padding-left: 0;
}

.sort-by-list>li:hover .default-btn {
    color: #46A358;
    text-shadow: 0 0 .5px #46A358;
}

.sort-by-list>li:hover .default-btn::after {
    transform: rotate(180deg);
    background-image: url(../img/sort-by-arrow-hover.svg);
}

.sort-by-list>li:hover .sort-block {
    display: block;
}

.sort-block {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
    width: 145px;
    padding: 12px 10px 2px 12px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #d4d4d415;
    display: none;
}

.sort-block::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
}

.sort-block button {
    width: 100%;
    text-align: start;
    padding-bottom: 15px;
    transition: color .3s, text-shadow .3s;
}

.sort-block button:hover {
    color: #46A358;
    text-shadow: 0 0 .5px #46A358;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 20px;
}

.item {
    width: 33.333%;
    padding: 0 10px;
    margin-bottom: 67px;
}

.img-box {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    margin-bottom: 11px;
    border-top: 1px solid transparent;
    position: relative;
    box-shadow: 0 0 3px #dfdfdf;
    transition: border-top .3s, background-color .3s;
}

.item:hover .img-box {
    border-top: 1px solid #46A358;
    background-color: rgba(70, 163, 89, 0.063);
}

.item:hover .item-btn-box {
    display: flex;
}

.item img {
    transition: transform .3s;
}

.item:hover img {
    transform: scale(1.01);
}

.item-btn-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    width: 130px;
    display: none;
    justify-content: space-between;
    background-color: transparent;
}

.item-btn-box button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    transition: transform .3s;
}

.item-btn-box button:hover {
    transform: scale(1.1);
}

.item-btn-box path {
    transition: fill .3s;
}

.item-btn-box button:hover path {
    fill: #46A358;
}

.discounted-item {
    position: relative;
}

.discount {
    position: absolute;
    top: 14px;
    padding: 6.5px 8.5px;
    background-color: #46A358;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.item>a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 4px;
}

.price {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.old-price {
    color: #A5A5A5;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: line-through;
    padding-left: 18px;
}

.page-numbers {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination a {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    color: inherit;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-left: 10px;
    text-decoration: none;
    transition: background-color .3s, color .3s, font-weight .3s;
}

.pagination a:hover {
    background-color: #46A358;
    color: #ffffff;
    font-weight: 700;
}

.next path {
    transition: stroke .3s, stroke-width .3s;
}

.next:hover path {
    stroke: #ffffff;
    stroke-width: 3;
}

.next svg {
    transition: width .3s, height .3s;
}

.next:hover svg {
    width: 9px;
    height: 15px;
}

.find-more {
    display: flex;
    margin: 0 -10px;
    margin-bottom: 132px;
}

.find-more article {
    width: 50%;
    padding: 0 10px;
}

.find-more>article>div {
    height: 302px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFBFB;
    padding-right: 20px;
    box-shadow: 0 0 3px #e5e5e5;
}

.fm-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.fm-content h3 {
    max-width: 150px;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.fm-content p {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 20px;
}

.fm-link {
    display: inline-flex;
    align-items: center;
    padding: 8px 26px;
    border-radius: 6px;
    background-color: #46A358;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    border: 2px solid #46A358;
    transition: color .3s, background-color .3s;
}

.fm-link svg {
    margin-left: 5px;
}

.fm-link path {
    transition: stroke .3s;
}

.fm-link:hover path {
    stroke: #46A358;
}

.fm-link:hover {
    color: #46A358;
    background-color: #ffffff;
}

.blog {
    text-align: center;
}

.blog h2 {
    color: #3D3D3D;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 15px;
    text-transform: capitalize;
}

.blog>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 31px;
}

.blog>div {
    display: flex;
    margin: 0 -10px;
}

.blog-item {
    width: 25%;
    padding: 0 10px;
}

.blog-link {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    text-decoration: none;
    color: inherit;
    height: 100%;
    box-shadow: 0 0 3px #dbdbdb;
    transition: box-shadow .3s;
}

.blog-link:hover {
    box-shadow: 0 0 6px #d0d0d0;
}

.blog-img-wrap {
    max-height: 195px;
    overflow: hidden;
    flex-shrink: 0;
}

.blog-link img {
    transition: transform 1s;
}

.blog-link:hover img {
    transform: scale(1.05);
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    padding: 14px 15px 12px;
    height: 100%;
}

.blog-dates {
    color: #46A358;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.blog-content h3 {
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: capitalize;
    max-width: 205px;
}

.blog-content h3+p {
    line-height: 22px;
    padding-bottom: 3px;
    margin-bottom: auto;
    font-size: 14px;
}

.read-more {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    transition: color .3s;
}

.blog-link svg {
    margin-left: 6px;
    vertical-align: middle;
}

.blog-link path {
    transition: fill .3s;
}

.blog-link:hover .read-more {
    color: #46A358;

}

.blog-link:hover path {
    fill: #46A358;
}

.newsletter {
    display: flex;
    background-color: #FBFBFB;
}

.examples {
    display: flex;
    width: 66.666%;
}

.examples article {
    padding: 135px 29px 22px;
    display: flex;
    flex-direction: column;
    width: 33.333%;
}

.middle-ex::before {
    content: '';
    width: 1px;
    height: 80%;
    background-color: #46a3581a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -7px;
}

.middle-ex::after {
    content: '';
    width: 1px;
    height: 80%;
    background-color: rgba(70, 163, 88, 0.10);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
}

.examples h3 {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.941em;
    padding-bottom: 9px;
}

.examples p {
    color: #727272;
    font-size: 14px;
    line-height: 1.571em;
}

.first-ex {
    background: url(../img/example-01.svg) no-repeat top 31px left 29px;
}

.middle-ex {
    background: url(../img/example-02.svg) no-repeat top 31px left 29px;
    position: relative;
}

.last-ex {
    background: url(../img/example-03.svg) no-repeat top 31px left 29px;
}

.offer {
    width: 33.333%;
    padding: 37px 29px 23px;
}

.offer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 0.888em;
    padding-bottom: 17px;
}

.offer p {
    color: #727272;
    font-size: 13px;
    line-height: 1.692em;
}

.offer form {
    display: flex;
    margin-bottom: 17px;
}

.offer input {
    width: 100%;
    padding: 10px 11px;
    border: 2px solid #ffffff;
    font-family: inherit;
    border-radius: 6px 0 0 6px;
}

::placeholder {
    color: #ACACAC;
    font-size: 14px;
    line-height: 1.142em;
}

.offer input:hover {
    border: 2px solid #46a3597c;
    border-right: none;
}

.offer input:focus {
    border: 2px solid #46A358;
    border-right: none;
    outline: none;
}

.offer button {
    display: inline-block;
    color: #ffffff;
    background-color: #46A358;
    padding: 10px 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 0.888em;
    border: none;
    border-radius: 0 6px 6px 0;
    border: 2px solid #46A358;
    transition: color .3s, background-color .3s;
}

.offer button:hover {
    color: #46A358;
    background-color: #ffffff;
}

.contacts {
    background-color: rgba(70, 163, 88, 0.10);
}

.contacts-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(70, 163, 88, 0.20);
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
    height: 90px;
    padding: 0 29px;
}

.contacts-list li {
    display: flex;
    align-items: center;
    width: 25%;
}

.contacts-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.571em;
    text-decoration: none;
    color: inherit;
    height: 90px;
    margin-left: -20px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: border-top .3s, border-bottom .3s;
}

.contacts-link:hover {
    border-top: 2px solid #46A358;
    border-bottom: 2px solid #46A358;
}

.contacts-link svg {
    margin-right: 11px;
}

.main-footer {
    display: flex;
    padding: 33px 29px 27px;
    background-color: #FBFBFB;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}

.main-footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 0.888em;
}

.main-footer ul {
    list-style: none;
    padding-left: 0;
}

.footer-list {
    width: 25%;
}

.main-details {
    width: 25%;
}

.footer-list h3 {
    padding-bottom: 8px;
}

.footer-list a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 2.142em;
    transition: color .2s, text-shadow .2s;
}

.footer-list a:hover {
    color: #46A358;
    text-shadow: 0 0 .5px #46A358;
}

.social-media h3 {
    padding-bottom: 20px;
}

.social-media ul {
    display: flex;
}

.social-media a {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 33px;
    transition: transform .3s;
}

.social-media a:hover {
    transform: scale(1.1);
}

.social-media path {
    transition: fill-opacity .3s;
}

.social-media a:hover path {
    fill-opacity: 1;
}

.payment {
    background: url(../img/footer-payment.png) no-repeat top 30px left;
    width: 225px;
    height: 60px;
}

.rights-reserved {
    text-align: center;
    padding: 7px 0 12px;
}

.rights-reserved p {
    font-size: 14px;
    line-height: 2.142em;
}